<section class="login-wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign in to JPOS</mat-card-title>
      <mat-card-subtitle>Prototype login form (UI only)</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="login-form">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="admin" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="••••••••" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Role</mat-label>
          <mat-select>
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="manager">Store manager</mat-option>
            <mat-option value="cashier">Cashier</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-stroked-button>Reset</button>
      <button mat-flat-button color="primary">Sign in</button>
    </mat-card-actions>
  </mat-card>
</section>
