<mat-sidenav-container class="app-shell">
  <mat-sidenav mode="side" opened class="app-nav">
    <div class="brand">JPOS</div>
    <mat-nav-list>
      @for (item of navItems; track item.path) {
        <a
          mat-list-item
          [routerLink]="item.path"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ item.label }}
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <span>{{ title }}</span>
      <span class="toolbar-spacer"></span>
      <button mat-button routerLink="/login">Sign in</button>
    </mat-toolbar>

    <main class="page-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
